@tailwind base;
@tailwind components;
@tailwind utilities;


.neomorphism {
  border-radius: 20px;
  background: #bdbdbd;
  box-shadow:  20px 20px 40px #999999, -20px -20px 40px #e1e1e1;
}

.neomorphism_btn {
  border-radius: 20px;
  background: #bdbdbd;
  box-shadow:  20px 20px 40px #999999, -20px -20px 40px #e1e1e1;

  &:hover{
    background: linear-gradient(145deg, #aaaaaa, #cacaca);
  }
}

.neomorphism_inset {
  background: #bdbdbd;
  border-radius: 20px;
  box-shadow: inset 20px 20px 40px #999999, inset -20px -20px 40px #e1e1e1;
}

.scrollbar_none {
  scrollbar-width: none;
}
